= simple_form_for [folder.parent, folder], :html => {:class => 'form-horizontal'} do |form|

  = form.error_notification

  = form.input :name, :input_html => {:class => 'span3'}

  .form-actions
    = form.submit 'Create Folder', :class => 'btn btn-primary'