.modal.fade{:id => "password-modal-#{file.id}"}
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h3 Password for #{file.attachment.file.filename}
  .modal-body
    body
  .modal-footer
    footer