= simple_form_for user_file, :url => share_user_file_path(user_file) do |form|
  .copy
    %p.muted
      Copy and paste the URL below to share this file.
    = form.input :link_token, :wrapper => :prepend, :label => false, :hint => false do
      = content_tag :span, 'Share URL', :class => 'add-on'
      = form.input_field :link_token, :class => 'span5', :value => UserFile.share_url(link_url(user_file))