#password-entry
  
  = simple_form_for @user_file, :url => check_password_user_file_path(@user_file), :html => {:class => 'form-horizontal'} do |form|
  
    = form.input :password, :input_html => {:value => nil, :prompt => 'Enter password'}
  
    .form-actions
      = form.submit "Download #{ @user_file.name }", :class => 'btn btn-primary'