<div class="row">
  <div class="span5 error-bot">
  </div>
  <div class="span7">
    <div class="error-message">
      <h1>Warning! Warning!</h1>
      <h2>Mission Control, we have a problem...</h2>
      <h3>
          It appears we have lost a stabilizer fin.  We're getting someone suited up to take a look.  Over and out.
      </h3>
      <a href="<%= welcome_path %>" class="btn btn-primary">Get Along Home Space Doggie</a>
    </div>
  </div>
</div>
