#help
  %h2 Help
  %h3 Instructions and tips for getting the most out of OSU FileShip.

  .row
    .span7

      %ul
        %li
          %h4 How do I upload files?
          %p
            For modern browsers with Javascript, uploading files is super easy! Just use your mouse to drag the files you want onto the page and they will automatically be uploaded. Note that you CANNOT drag whole folders! If you want to upload everything inside a folder, go into the folder and then drag the files from inside it. 

          %p
            For JavaScript disabled browsers, use the "Upload File(s)" button located above any folder listing to add files to the folder. The "Upload File(s)" button will allow you to browse for and upload multiple files to the folder.

        %li
          %h4 Is there a file size limit?</h4>
          %p 
            Yes, the size limit for a single file is 250mb.

        %li
          %h4 How do I share a file?</h4>
          %p
            Click on the drop-down arrow to the right of the file's "Modified" date. From there, click on the "Share" option. Just give the provided URL to anyone and they can download the file! They don't even have to go to OSU! 

        %li
          %h4 What if I only want certain people to download my file?</h4>
          %p
            Click on the drop-down arrow to the right of the file's "Modified" date. From there, click on the "Password" option. Once you choose a password, everyone who wants to download the file will have to enter that password first.
        
        %li
          %h4 Can I use FileShip to upload illegal/copyrighted material?</h4>
          %p
            NO! If you upload illegal materials or copyrighted materials without permission, then you will get in trouble with OSU and the police. Just don't do it! 

        %li
          %h4 Will my content expire automatically?</h4>
          %p
            Yes. Your uploaded content will be deleted automatically by the system #{UserFile.days_until_purge} days after it is uploaded. Note that this time is subject to change based on available disk space. </p>
