#policy
  %h2 OSU FileShip Acceptable Use Policy

  %p
    %strong
      You agree not to misuse the OSU FileShip services.  For example, you must not attempt to use the services to do the following things:

  %ul
    %li
      breach or otherwise circumvent any security or authentication measures

    %li
      access, tamper with, or use non-public areas of the Service, shared areas of the Service you have not been invited to

    %li
      interfere with or disrupt any user or host, for example by sending a virus, overloading, flooding, spamming, or mail-bombing any part of the Service

    %li
      plant malware or otherwise use the Services to distribute malware

    %li
      access or search the Services by any means other than our publicly supported interface

    %li
      send unsolicited communications, promotions or advertisements, or spam

    %li
      send altered, deceptive or false source-identifying information, including “spoofing” or “phishing”

    %li
      publish anything that is fraudulent, misleading, or infringes another's rights

    %li
      promote or advertise products or services other than your own

    %li
      impersonate or misrepresent your affiliation with any person or entity

    %li
      publish or share materials that are unlawfully pornographic or indecent, or that advocate bigotry, religious, racial or ethnic hatred

    %li
      violate the law in any way, or to violate the privacy of others, or to defame others