#welcome.row
  %div{:class => ['span5', 'offset5', 'message']}
    %h1  FileShip
    = image_tag 'rocket-animated.gif', :alt => 'Rocket', :class => 'rocket'
    %h3 Share large files securely

    %p
      = link_to 'Sign In', folders_path, :class => ['btn', 'btn-primary', 'sign-in']
