body.dark
  background-image: image-url('bg-pattern.gif')
  background-repeat: repeat
  background-position: auto

  color: #fff

  h2
    color: #fff
    font-weight: normal

  h3
    color: #fff
    font-weight: normal

  .message
    margin-top: 5em

  #footer
    background: none

    .footer-robot
      display: none

  header
    h1 a
      color: #fff

  h1
    color: #fff