@import 'bootstrap/mixins'

.folder-options
  margin: 1.5em 0

.table
  .file-icon
    padding-right: 0
    width: 24px

  .file-name
    padding-left: 0

  td.empty-folder
    background-color: #fff
    text-align: center

#noscript-file-upload
  +border-radius(0)
  -webkit-border-top-left-radius: 5px
  -moz-border-top-left-raidus: 5px
  border-top-left-radius: 5px
  -webkit-border-bottom-left-radius: 5px
  -moz-border-bottom-left-raidus: 5px
  border-bottom-left-radius: 5px