$footerHeight: 260px

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto ($footerHeight * -1)

.footer-push
  height: $footerHeight + 50

#footer
  height: $footerHeight
  width: 100%
  text-align: right
  margin: 0
  background-image: image-url('small-robot.png'), image-url('mountain-footer.png')
  background-position:  80% bottom, center bottom
  background-repeat: no-repeat, repeat-x


  p
    color: #fff
    margin-top: 12em
    position: relative

  a
    color: #fff
    text-decoration: underline