$footerHeight: 30px
body.dark

  .wrapper
    margin: 0 auto ($footerHeight * -1)

  .footer-push
    height: $footerHeight + 50

  background-image: image-url('bg-pattern.gif')
  background-repeat: repeat
  background-position: auto

  color: #fff

  h2
    color: #fff
    font-weight: normal

  h3
    color: #fff
    font-weight: normal

  #footer
    height: $footerHeight

    p
      margin-top: 0

    background: none

  header
    h1 a
      color: #fff

  h1
    color: #fff

  .error-bot
    margin-top: 3em

  .btn-primary
    font-size: 175%
    line-height: 150%

  .error-message
    margin-top: 18em
