.navbar
  height: 49px

  .navbar-inner
    border-bottom: 3px solid #5a5859
    height: 49px

  .container
    height: 49px

  .brand
    padding: 0
    margin-left: 5px
    position: relative
    z-index: 2

  .nav
    li
      height: 49px

      a, span
        padding-top: 15px

      span
        display: inline-block
        color: #999
        margin-right: 2em