.navbar
  .navbar-inner
    .container
      = tophat_tag

      -if signed_in? && show_links
        %ul.nav.pull-right
          %li
            %span Welcome back #{@current_user.name}!
          %li
            = link_to 'Sign Out', signout_path
          